/* 主界面.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    color: #fff;
    background-image: url('img/Main.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

header h1 {
    color: #fff;
    font-size: 3em;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

nav {
    background: linear-gradient(to bottom, #64dd17, #00c853);
    text-align: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    flex: 1;
    height: 3rem;
}

nav ul li:hover {
    background-color: #66BB6A;
}

nav ul li a {
    display: block;
    width: 100%;
    line-height: 3rem;

    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: '幼圆';
}

nav ul li a:hover {
    color: #ffea00;
}

section {
    text-align: center;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    align-items: center;
}

section h1 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 2rem;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

section p {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 2rem;
    font-family: 'Garamond', 'Times New Roman', Times, serif;
}

.scrolling-container {
    overflow: hidden;
    white-space: nowrap;
    width: 35%;
}

.scrolling-content {
    display: inline-block;
    animation: scrollText 10s linear infinite;
}

footer {
    margin-top: auto;
    background: #388e3c;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer a:hover {
    color: #ffea00;
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    nav ul li {
        height: 2.5rem;
    }

    nav ul li a {
        line-height: 2.5rem;
        font-size: 1rem;
    }

    section h1 {
        font-size: 2.5em;
    }

    section p {
        font-size: 1.2em;
    }

    footer a {
        font-size: 1rem;
    }
}